.modal-content{
    padding:20px 40px 20px;
}
.modal-content h3{
    padding-bottom:20px;
}

#logo-text{
    font-size:70px;
    margin-left:-20px;
}
#plus-btn{
    font-size: 40px;
    padding: 0px 14px;
    margin: 20px 0;
    float: right;
}